In [2]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt

In [3]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [4]:
data = pd.read_csv('sample_X.csv')

In [9]:
data.isnull().sum()

gender                                  0
marital_status                          0
region                                  0
highest_education                       0
school                                  0
employment_status                       0
loan_purpose                            0
repayment_status                        0
repayment_info_source                   0
repayment_method                        0
repayment_method_convenience            0
effectiveness_repayment_method          0
collection_strategy_effectiveness       0
interaction_quality_on_repayment        0
overall_experience_with_loan_process    0
over_under_milion                       0
discipline                              0
dtype: int64

In [10]:
data.sample(10)

,gender,marital_status,region,highest_education,school,employment_status,loan_purpose,repayment_status,repayment_info_source,repayment_method,repayment_method_convenience,effectiveness_repayment_method,collection_strategy_effectiveness,interaction_quality_on_repayment,overall_experience_with_loan_process,over_under_milion,discipline
38,male,single,central,bachelor,chanco,fulltime,tuition_living,not_paid,phone,none,inconvenient,ineffective,neutral,neutral,neutral,over,humanities
220,male,single,northern,bachelor,com,fulltime,tuition_living,partially_paid,phone,monthly_salary,convenient,effective,effective,positive,satisfied,under,health sciences
149,male,single,southern,bachelor,mzuni,fulltime,tuition,partially_paid,employer,voluntary_monthly,neutral,neutral,neutral,neutral,neutral,over,stem
339,female,married,northern,bachelor,com,fulltime,living_stationery,partially_paid,email,monthly_salary,neutral,effective,neutral,positive,neutral,under,health sciences
63,male,single,central,bachelor,poly,fulltime,tuition_living,not_paid,inperson,none,inconvenient,ineffective,neutral,neutral,satisfied,over,commerce
210,female,single,central,bachelor,chanco,self_employed,tuition_living,not_paid,inperson,none,inconvenient,ineffective,neutral,neutral,neutral,over,stem
2,male,married,central,master,poly,fulltime,tuition_living,fully_paid,phone,monthly_salary,very_convenient,very_effective,very_effective,very_positive,very satisfied,under,commerce
29,male,married,central,bachelor,chanco,parttime,living,partially_paid,inperson,voluntary_monthly,inconvenient,ineffective,neutral,neutral,neutral,under,humanities
321,male,married,southern,doctorate,mzuni,fulltime,tuition_living,partially_paid,employer,monthly_salary,neutral,effective,neutral,neutral,neutral,over,health sciences
17,male,married,central,bachelor,chanco,fulltime,tuition_living,partially_paid,email,monthly_salary,neutral,neutral,neutral,neutral,neutral,under,humanities

In [5]:
sample = data.copy()

In [6]:
sample.sample(1)

,gender,marital_status,region,highest_education,school,employment_status,loan_purpose,repayment_status,repayment_info_source,repayment_method,repayment_method_convenience,effectiveness_repayment_method,collection_strategy_effectiveness,interaction_quality_on_repayment,overall_experience_with_loan_process,over_under_milion,discipline
110,male,married,central,doctorate,poly,fulltime,tuition_living_stationery,fully_paid,phone,monthly_salary,very_convenient,very_effective,very_effective,very_positive,very satisfied,under,commerce

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
encode_ = ['highest_education', 'employment_status', 'repayment_method_convenience', 'effectiveness_repayment_method',
           'collection_strategy_effectiveness', 'interaction_quality_on_repayment', 'overall_experience_with_loan_process']

for col in encode_:
    le = LabelEncoder()
    sample[col] = le.fit_transform(sample[col])

In [25]:
sample.sample(3)

,region,highest_education,school,employment_status,loan_purpose,repayment_status,repayment_info_source,repayment_method,repayment_method_convenience,effectiveness_repayment_method,collection_strategy_effectiveness,interaction_quality_on_repayment,overall_experience_with_loan_process,over_under_milion,discipline,gender_female,gender_male,marital_status_divorced,marital_status_married,marital_status_single,marital_status_widowed
209,southern,0,chanco,2,tuition_living,1,inperson,none,1,1,2,1,1,over,stem,0.0,1.0,0.0,1.0,0.0,0.0
50,southern,0,mzuni,0,tuition_living,0,inperson,oneoff,0,0,0,2,1,under,commerce,1.0,0.0,0.0,1.0,0.0,0.0
312,southern,0,com,0,tuition_living,2,email,monthly_salary,1,1,2,1,1,over,health sciences,0.0,1.0,0.0,0.0,1.0,0.0

In [9]:
le = LabelEncoder()
sample['repayment_status'] = le.fit_transform(sample['repayment_status'])

In [10]:
sample.region.nunique()

3

In [11]:
# nominal column encoding using one hot encoding
from sklearn.preprocessing import OneHotEncoder

encode_ = ['gender', 'marital_status']

ohe = OneHotEncoder(sparse_output=False)
encoded_data = ohe.fit_transform(sample[encode_])
encoded_ = pd.DataFrame(encoded_data, columns=ohe.get_feature_names_out(encode_))
sample = pd.concat([sample, encoded_], axis=1)
sample.drop(columns=encode_, inplace=True)

In [12]:
sample.shape[1]

21

In [20]:
from category_encoders import BinaryEncoder

encode_ = sample.select_dtypes(include=['object']).columns
be = BinaryEncoder(cols=encode_, return_df=True)
sample = be.fit_transform(sample[encode_])

In [19]:
sample3.shape[1]

21

In [13]:
from category_encoders import BinaryEncoder

encode_ = sample.select_dtypes(include=['object']).columns
for col in encode_:
    be = BinaryEncoder()
    sample[col] = be.fit_transform(sample[col])

ValueError: Columns must be same length as key

In [ ]:
# freq encoding for high cardinality features
data['freq_encoded'] = data['categorical_column'].map(data['categorical_column'].value_counts())

In [30]:
pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\user\anaconda3\lib\site-packages (2.8.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: pandas>=1.0.5 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in c:\users\user\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.2)
Note: you may need to restart the kernel to use updated packages.